In [42]:
import pandas as pd
covid_data= pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-17-2020.csv')

In [8]:
for i in covid_data:
    print(i)

Province/State
Country/Region
Last Update
Confirmed
Deaths
Recovered
Latitude
Longitude

In [10]:
covid_data.head(5)

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,China,2020-03-17T11:53:10,67799,3111,56003,30.9756,112.2707
1,NaN,Italy,2020-03-17T18:33:02,31506,2503,2941,41.8719,12.5674
2,NaN,Iran,2020-03-17T15:13:09,16169,988,5389,32.4279,53.6880
3,NaN,Spain,2020-03-17T20:53:02,11748,533,1028,40.4637,-3.7492
4,NaN,Germany,2020-03-17T18:53:02,9257,24,67,51.1657,10.4515

In [11]:
covid_data["Active"]=covid_data["Confirmed"]-covid_data["Deaths"]-covid_data["Recovered"]

In [12]:
covid_data["Active"]

0       8685
1      26062
2       9792
3      10187
4       9166
       ...
307       -5
308        0
309        0
310        0
311        0
Name: Active, Length: 312, dtype: int64

In [58]:
result = covid_data.groupby('Country/Region')[['Confirmed', 'Deaths', 'Recovered']].max().reset_index()
print(result)

                     Country/Region  Confirmed  Deaths  Recovered
0                       Afghanistan         26       0          1
1                           Albania         55       1          0
2                           Algeria         60       4         12
3                           Andorra         39       0          1
4                        Antarctica          0       0          0
..                              ...        ...     ...        ...
163                      Uzbekistan         10       0          0
164                       Venezuela         33       0          0
165                         Vietnam         66       0         16
166            Winter Olympics 2022          0       0          0
167  occupied Palestinian territory          0       0          0

[168 rows x 4 columns]

In [31]:
data=result[(result["Recovered"]==0) & (result["Confirmed"] != 0) ][['Country/Region', 'Confirmed', 'Deaths', 'Recovered']]
print(data)

          Country/Region  Confirmed  Deaths  Recovered
1                Albania         55       1          0
5    Antigua and Barbuda          1       0          0
8                  Aruba          3       0          0
14              Barbados          2       0          0
17                 Benin          1       0          0
..                   ...        ...     ...        ...
156               Turkey         47       1          0
159              Ukraine         14       2          0
162              Uruguay         29       0          0
163           Uzbekistan         10       0          0
164            Venezuela         33       0          0

[75 rows x 4 columns]

In [52]:
data=result[(result["Recovered"]==result["Confirmed"])& (result["Confirmed"]!=0)][["Country/Region",'Confirmed', 'Recovered']]
data

    Country/Region  Confirmed  Recovered
106          Nepal          1          1

In [55]:
data=result[(result["Confirmed"]==result["Deaths"]) & (result["Confirmed"]!=0)]["Country/Region"]
data

142    Sudan
Name: Country/Region, dtype: object

In [63]:
result = covid_data.groupby('Country/Region').max().sort_values(by='Confirmed', ascending=False).head(10)

TypeError: agg function failed [how->max,dtype->object]

In [64]:
covid_data[:10]

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,China,2020-03-17T11:53:10,67799,3111,56003,30.9756,112.2707
1,NaN,Italy,2020-03-17T18:33:02,31506,2503,2941,41.8719,12.5674
2,NaN,Iran,2020-03-17T15:13:09,16169,988,5389,32.4279,53.6880
3,NaN,Spain,2020-03-17T20:53:02,11748,533,1028,40.4637,-3.7492
4,NaN,Germany,2020-03-17T18:53:02,9257,24,67,51.1657,10.4515
5,NaN,"Korea, South",2020-03-17T10:33:03,8320,81,1407,35.9078,127.7669
6,France,France,2020-03-17T19:13:08,7652,148,12,46.2276,2.2137
7,NaN,Switzerland,2020-03-17T16:33:04,2700,40,4,46.8182,8.2275
8,Unknown,United Kingdom,2020-03-17T15:13:09,1950,2,52,55.3781,-3.4360
9,New York,US,2020-03-17T22:53:03,1706,13,0,42.1657,-74.9481

In [65]:
# Get the most recent data for each country
result = covid_data.groupby('Country/Region').last().sort_values(by='Confirmed', ascending=False).head(10)

# Print the result
print(result)

               Province/State          Last Update  Confirmed  Deaths  \
Country/Region
Italy                    None  2020-03-17T18:33:02      31506    2503
Iran                     None  2020-03-17T15:13:09      16169     988
Spain                    None  2020-03-17T20:53:02      11748     533
Germany                  None  2020-03-17T18:53:02       9257      24
Korea, South             None  2020-03-17T10:33:03       8320      81
Switzerland              None  2020-03-17T16:33:04       2700      40
Norway                   None  2020-03-17T19:53:02       1463       3
Belgium                  None  2020-03-17T15:33:06       1243      10
Sweden                   None  2020-03-17T15:33:06       1190       7
Austria                  None  2020-03-17T15:33:06        999       3

                Recovered  Latitude  Longitude
Country/Region
Italy                2941   41.8719    12.5674
Iran                 5389   32.4279    53.6880
Spain                1028   40.4637    -3.7492
Germany                67   51.1657    10.4515
Korea, South         1407   35.9078   127.7669
Switzerland             4   46.8182     8.2275
Norway                  1   60.4720     8.4689
Belgium                 1   50.5039     4.4699
Sweden                  1   60.1282    18.6435
Austria                 1   47.5162    14.5501

In [70]:
data=covid_data[covid_data["Country/Region"]=="India"]
data

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
73,NaN,India,2020-03-17T15:33:06,142,3,14,20.5937,78.9629