# Functions

## Write a Python function that takes a list and returns a new list with distinct elements from the first list.

In [2]:
def uniq(list1):
    x=[]
    for i in list1:
        if i not in x:
            x.append(i)
    return x

In [6]:
list1=[1,1,2,3,4,2,3,4,2,3,4,5,5]
uniq(list1)

[1, 2, 3, 4, 5]

## Python Exercise: Print out the first n rows of Pascal's triangle

In [7]:
def pascal_triangle(n):
    trow = [1]
    y = [0]
    for x in range(n):
        print(trow)
        trow = [l + r for l, r in zip(trow + y, y + trow)]
    return n >= 1
pascal_triangle(6)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]

True

In [14]:
l ,r =(zip([1,0],[0,1]))
l+r

(1, 0, 0, 1)

# Lambda

In [20]:
dict1={1:"apple",2:"zelon",3:"kiwi"}
sorted(dict1.items(),key=lambda x : x[1])

[(1, 'apple'), (3, 'kiwi'), (2, 'zelon')]

# Finding pallindrome from a list

In [22]:
texts = ["php", "w3r", "Python", "abcd", "Java", "aaa"]
print("Orginal list of strings:")
print(texts)  
result = list(filter(lambda x: (x == "".join(reversed(x))), texts))
print("\nList of palindromes:")
print(result)

Orginal list of strings:
['php', 'w3r', 'Python', 'abcd', 'Java', 'aaa']

List of palindromes:
['php', 'aaa']

# Map

In [31]:
texts.sort(key= str.lower)

In [32]:
texts

['aaa', 'abcd', 'Java', 'php', 'Python', 'w3r']

## Python: Listify the list of given strings individually using map function

In [51]:
color = ['Red', 'Blue', 'Black', 'White', 'Pink']
color=list((map(list, color)))
print(color)

[['R', 'e', 'd'], ['B', 'l', 'u', 'e'], ['B', 'l', 'a', 'c', 'k'], ['W', 'h', 'i', 't', 'e'], ['P', 'i', 'n', 'k']]

In [53]:
colors = [('red', 'pink'), ('white', 'black'), ('orange', 'green')]
list(map(" ".join,colors))

['red pink', 'white black', 'orange green']

# Itertools

## Create an iterator from several iterators

In [71]:
from itertools import chain
def chain_func(l1,l2,l3):
    return chain(l1,l2,l3)    
result = chain_func([1,2,3], ['a','b','c','d'], [4,5,6,7,8,9])
print("Type of the new iterator:")
print(type(result))
print("Elements of the new iterator:")
for i in result:
    print(", ".join(str(i)),end=" ")

Type of the new iterator:
<class 'itertools.chain'>
Elements of the new iterator:
1 2 3 a b c d 4 5 6 7 8 9

In [67]:
print(", ".join(str(i) for i in result))

In [2]:
import itertools as it
res=it.cycle([1,2,3,4])
for i in range(8):
    print(next(res))

1
2
3
4
1
2
3
4

## Find the years where 25th of December be a Sunday between 2000 and 2150

In [3]:
from datetime import date
from itertools import islice

In [4]:
# xmasIsSunday :: Int -> Bool
def xmasIsSunday(y):
    '''True if Dec 25 in the given year is a Sunday.'''
    return 6 == date(y, 12, 25).weekday()
 
 
# main :: IO ()
def main():
    '''Years between 2000 and 2150 with 25 December on a Sunday'''
 
    xs = list(filter(
        xmasIsSunday,
        enumFromTo(2025)(2040)
    ))
    total = len(xs)
    print(
        fTable(main.__doc__ + ':\n\n' + '(Total ' + str(total) + ')\n')(
            lambda i: str(1 + i)
        )(str)(index(xs))(
            enumFromTo(0)(total - 1)
        )
    )
 
 
# GENERIC -------------------------------------------------
 
# enumFromTo :: (Int, Int) -> [Int]
def enumFromTo(m):
    '''Integer enumeration from m to n.'''
    return lambda n: list(range(m, 1 + n))
 
 
# index (!!) :: [a] -> Int -> a
def index(xs):
    '''Item at given (zero-based) index.'''
    return lambda n: None if 0 > n else (
        xs[n] if (
            hasattr(xs, "__getitem__")
        ) else next(islice(xs, n, None))
    )
 
 
# unlines :: [String] -> String
def unlines(xs):
    '''A single string formed by the intercalation
       of a list of strings with the newline character.
    '''
    return '\n'.join(xs)
 
 
#  FORMATTING ---------------------------------------------
# fTable :: String -> (a -> String) ->
#                     (b -> String) -> (a -> b) -> [a] -> String
def fTable(s):
    '''Heading -> x display function -> fx display function ->
                     f -> xs -> tabular string.
    '''
    def go(xShow, fxShow, f, xs):
        ys = [xShow(x) for x in xs]
        w = max(map(len, ys))
        return s + '\n' + '\n'.join(map(
            lambda x, y: y.rjust(w, ' ') + ' -> ' + fxShow(f(x)),
            xs, ys
        ))
    return lambda xShow: lambda fxShow: lambda f: lambda xs: go(
        xShow, fxShow, f, xs
    ) 
 
# MAIN --
if __name__ == '__main__':
    main()

Years between 2000 and 2150 with 25 December on a Sunday:

(Total 2)

1 -> 2033
2 -> 2039

## Filter

### Python program to filter cities by population

In [5]:
cities = [
    ("New York", 8500000),
    ("Los Angeles", 4000000),
    ("Chicago", 2700000),
    ("Houston", 2300000),
    ("Phoenix", 1600000),
    ("Philadelphia", 1500000),
    ("San Antonio", 1500000),
]

In [8]:
def pop_fil(cities,limit):
    return list(filter(lambda cities : cities[1]>=limit ,cities))

In [9]:
pop_fil(cities,2000000)

[('New York', 8500000),
 ('Los Angeles', 4000000),
 ('Chicago', 2700000),
 ('Houston', 2300000)]