In [10]:
import sqlite3

# Step 1: Connect to a database (or create it)
connection = sqlite3.connect("example.db")

# Step 2: Create a cursor object
cursor = connection.cursor()

# Step 3: Create a table
cursor.execute("""
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    age INTEGER
)
""")

# Step 4: Insert data into the table
# cursor.execute("INSERT INTO users (name, age) VALUES (?, ?)", ("Alice", 25))
# cursor.execute("INSERT INTO users (name, age) VALUES (?, ?)", ("Bob", 30))

# Step 5: Commit the changes
connection.commit()
sqlite_select_Query = "select sqlite_version();"
cursor.execute(sqlite_select_Query)
rec=cursor.fetchall()
print("The version of sqlite3 is :",rec[0][0])
# Step 6: Retrieve and display data
cursor.execute("SELECT * FROM users")
for row in cursor.fetchall():
    print(row)

# Step 7: Close the connection
connection.close()

The version of sqlite3 is : 3.45.3
(1, 'Alice', 25)
(2, 'Bob', 30)
(3, 'Alice', 25)
(4, 'Bob', 30)
(5, 'Alice', 25)
(6, 'Bob', 30)
(7, 'Alice', 25)
(8, 'Bob', 30)

### Update all the values of a specific column of a given SQLite table

In [11]:
import sqlite3 
from sqlite3 import Error 
def sql_connection():
    try:
      conn = sqlite3.connect('mydatabase.db')
      return conn
    except Error:
      print(Error) 
def sql_table(conn):
    cursorObj = conn.cursor()
# Create the table
    cursorObj.execute("CREATE TABLE salesman(salesman_id n(5), name char(30), city char(35), commission decimal(7,2));")
# Insert records
    cursorObj.executescript("""
    INSERT INTO salesman VALUES(5001,'James Hoog', 'New York', 0.15);
    INSERT INTO salesman VALUES(5002,'Nail Knite', 'Paris', 0.25);
    INSERT INTO salesman VALUES(5003,'Pit Alex', 'London', 0.15);
    INSERT INTO salesman VALUES(5004,'Mc Lyon', 'Paris', 0.35);
    INSERT INTO salesman VALUES(5005,'Paul Adam', 'Rome', 0.45);
    """)    
    cursorObj.execute("SELECT * FROM salesman")
    rows = cursorObj.fetchall()
    print("Agent details:")
    for row in rows:
        print(row)
    print("\nUpdate all commision to .55:")
    sql_update_query = """Update salesman set commission = .55"""
    cursorObj.execute(sql_update_query)
    conn.commit()
    print("Record Updated successfully ")    
    cursorObj.execute("SELECT * FROM salesman")
    rows = cursorObj.fetchall()
    print("\nAfter updating Agent details:")
    for row in rows:
        print(row)
sqllite_conn = sql_connection()
sql_table(sqllite_conn)
if (sqllite_conn):
  sqllite_conn.close()
  print("\nThe SQLite connection is closed.")

Agent details:
(5001, 'James Hoog', 'New York', 0.15)
(5002, 'Nail Knite', 'Paris', 0.25)
(5003, 'Pit Alex', 'London', 0.15)
(5004, 'Mc Lyon', 'Paris', 0.35)
(5005, 'Paul Adam', 'Rome', 0.45)

Update all commision to .55:
Record Updated successfully

After updating Agent details:
(5001, 'James Hoog', 'New York', 0.55)
(5002, 'Nail Knite', 'Paris', 0.55)
(5003, 'Pit Alex', 'London', 0.55)
(5004, 'Mc Lyon', 'Paris', 0.55)
(5005, 'Paul Adam', 'Rome', 0.55)

The SQLite connection is closed.